body{
  box-sizing: border-box;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  font-family: "Krunch";
}
.nav{
  position: absolute;
  height:100px;
  background-color: black;
  width: 100%;
  height: 75px;
  align-items: center;
  display:flex;
  justify-content: space-between;
}
.hero-container{
  position: absolute;
  width: 100%;
  height: 550px;
  /*border: 2px solid black;*/
}
.background-image{

  width: 100%;
  height: 100%;
  background-image: url("images/coils5.jpg");
  background-size: 100% 100%;
  /*background-attachment: fixed;*/
   background-position: center;
   background-repeat: no-repeat;
   display:flex;
   justify-content: center;
   align-items: center;

}
.top-sellers{
  display:block;
  margin:0 auto;
  width:auto;
  height:auto;
  /*display: flex;*/
  /*justify-content: space-around;*/
  /*align-items: center;*/
  top: 600px;
  position:absolute;
}
.about-us{
  width:100%;
  height:500px;
  position: absolute;
  top: calc(600px + 20vw);
}
.hero-nav{
  height:50px;
  width: 100%;
  display:flex;
  justify-content: center;
  background-color: black;
  align-items: center;
  opacity: .85;
}
.hero-nav a{
  text-decoration-color: white;
  color: white;
  /*font-family: "Krunch";*/
  margin-left: 10px;
  margin-right: 10px;
}
.hamburger-menu{
  background-image: url("images/menu-icon.png");
  background-size: 100% 100%;
  background-position:center;
  width:25px;
  height:18px;
  opacity: 1;
  z-index: 1;
  margin-left: 20px;
  filter: invert(100%);
}
.search{
  background-image: url("images/Search-icon.png");
  background-size: 100% 100%;
  background-position:center;
  width:25px;
  height:25px;
  opacity: 1;
  z-index: 1;

  filter: invert(100%);
}
.shopping-cart{
  background-image: url("images/shopping-cart.png");
  background-size: 100% 100%;
  background-position:center;
  width:25px;
  height:25px;
  opacity: 1;
  z-index: 1;

  filter: invert(100%);
}
.nav-right-container{
  width:80px;
  height:30px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 25px;
}
.logo{
  position: absolute;
  width:300px;
  height:300px;
  background-image: url("images/logo_edited-1.png");
  background-size: cover;
  z-index: 1;
  opacity:.6;
    filter: invert(100%);
}
.top-seller{
  display:inline-block;
  margin-top: 40px;
  margin-left: 75px;
  width:200px;
  height:200px;
  border-radius:100%;
  border: 2px solid rgba(255,255,255,0.85);
  background-color: rgba(255,255,255,0.85);
  min-width: 200px;
  background-position: center;
  background-size: cover;
}
.top-seller1{
  background-image: url("images/coils.jpg");
  margin-left:75px;
}
.top-seller2{
  background-image: url("images/coils2.jpg")
}
.top-seller3{
  background-image: url("images/coils3.jpg")
}
.top-seller4{
  background-image: url("images/coils4.jpg")
}
.top-seller5{
  background-image: url("images/coils5.jpg")
}
